@keyframes bounce{
    0%, 20%, 60%, 100%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40%{
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    80%{
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
.btn{
    margin-top: 30px;
    font-weight: bold;   
    color: #FFF;
    font-size: 16px;
    width: 150px;
    height: 40px;
    background-color: rgb(43, 68, 114);
    border: none;
    border-radius: 50px;
    opacity: 0.9;    
    
    text-decoration: none;
}
.btn:hover{
    opacity: 1;
    cursor: pointer;
    animation: bounce 1s;
}
.btn:focus{
    outline-style: none;
}
